    * {
        text-align: center;
    }
    
    .checked {
        color: orange;
    }
    
    h1 {
        text-align: center;
    }
    
    select {
        height: 6%;
        width: 10%;
    }
    
    .btn {
        text-align: center;
    }